<div class="container-fluid" style="width:50%; margin-bottom: 20px; position: relative;">
<h2 style="color:white">Edit information</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
      <%= label_tag :full_name, "Full Name", class:"form-item"%>
      <%= f.text_field :name, class:"form-control"%>
    </div>

  <div class="form-group">
    <%= label_tag :school, "School", class:"form-item"%>
    <%= f.select:school, [["UC Berkeley", "UC Berkeley"], ["UC Davis", "UC Davis"],
                           ["UC Irvine", "UC Irvine"], ["UCLA", "UCLA"],
                           ["UC Merced", "UC Merced"], ["UC Riverside", "UC Riverside"],
                           ["UC San Diego", "UC San Diego"], ["UC San Francisco", "UC San Francisco"],
                           ["UC Santa Barbara", "UC Santa Barbara"], ["UC Santa Cruz", "UC Santa Cruz"]], {}, {:class => 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.label :email, class:"form-item" %><br />
    <%= f.email_field :email, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :phone, "Phone", class:"form-item"%>
    <%= f.text_field :phone, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, class:"form-item" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
    <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class:"form-item" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password, class:"form-item" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class:"form-control" %>
  </div>

  <%= f.submit "Update", class:"btn btn-success", style:"width: auto; margin: 0 auto; display:block" %>
<% end %>

<h3>Cancel account</h3>

<p>Unhappy?</p>
<%= button_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger", style:"width: auto; margin: 0 auto;" %>

<br />
<%= link_to "Back", :back %>

</div>