<div class="container-fluid" style="width:50%; margin-bottom: 20px; position: relative;">
<h2 style="color:white">Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <div class="form-group">
      <%= label_tag :full_name, "Full Name", class:"form-item"%>
      <%= f.text_field :name, autofocus: true, class:"form-control"%>
    </div>

    <div class="form-group">
      <%= label_tag :school, "School", class:"form-item"%>
      <%= f.select:school, [["UC Berkeley", "UC Berkeley"], ["UC Davis", "UC Davis"],
                             ["UC Irvine", "UC Irvine"], ["UCLA", "UCLA"],
                             ["UC Merced", "UC Merced"], ["UC Riverside", "UC Riverside"],
                             ["UC San Diego", "UC San Diego"], ["UC San Francisco", "UC San Francisco"],
                             ["UC Santa Barbara", "UC Santa Barbara"], ["UC Santa Cruz", "UC Santa Cruz"]], {}, {:class => 'form-control'} %>
    </div>

    <div class="form-group">
      <%= f.label :email, class:"form-item" %><br />
      <%= f.email_field :email, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= label_tag :phone, "Phone", class:"form-item"%>
      <%= f.text_field :phone, :value => "(000)-000-0000", class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password, class:"form-item" %>
      <% if @minimum_password_length %>
      <em class="form-item">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class:"form-item" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
    </div>

      <%= f.submit "Sign up", class:"btn btn-success", style:"width: auto; margin: 0 auto; display:block" %>
<% end %>

<div class="text-center">
  <h4> OR </h4>
  <%= link_to "Sign In", sign_in_path, class:"btn btn-primary",
  style:"width: auto; margin: 0;" %>
</div>

</div>
