<div class="container">
  <%= content_tag :div, '', id: 'day-of-week', data: @day_of_week %>

  <h2>MATCH ME!</h2>

  <br />
  <h4>Availability</h4>
  <div id="monday-friday-time" class="row text-center">
    <div id="monday-time" class="col-md-6 time-availability vertical-center">
      <div class="col-md-3 text-right">Monday:</div>
      <div class="col-md-3 checkbox">
        <label>
          <%= check_box_tag "monday-checkbox" %>
          Unavailable
        </label>
      </div>
      <div class="col-md-6">
        <p>Times available:</p>
        <div class="slider-container">
          <input id="monday-slider" class="availability-slider" style="width:100%"/>
        </div>
      </div>
    </div>
    <div id="friday-time" class="col-md-6 time-availability vertical-center">
      <div class="col-md-3 text-right">Friday:</div>
      <div class="col-md-3 checkbox">
        <label>
          <%= check_box_tag "friday-checkbox" %>
          Unavailable
        </label>
      </div>
      <div class="col-md-6">
        <p>Times available:</p>
        <div class="slider-container">
          <input id="friday-slider" class="availability-slider" style="width:100%"/>
        </div>
      </div>
    </div>
  </div>

  <div id="tuesday-saturday-time" class="row text-center">
    <div id="tuesday-time" class="col-md-6 time-availability vertical-center">
      <div class="col-md-3 text-right">Tuesday:</div>
      <div class="col-md-3 checkbox">
        <label>
          <%= check_box_tag "tuesday-checkbox" %>
          Unavailable
        </label>
      </div>
      <div class="col-md-6">
        <p>Times available:</p>
        <div class="slider-container">
          <input id="tuesday-slider" class="availability-slider" style="width:100%"/>
        </div>
      </div>
    </div>
    <div id="saturday-time" class="col-md-6 time-availability vertical-center">
      <div class="col-md-3 text-right">Saturday:</div>
      <div class="col-md-3 checkbox">
        <label>
          <%= check_box_tag "saturday-checkbox" %>
          Unavailable
        </label>
      </div>
      <div class="col-md-6">
        <p>Times available:</p>
        <div class="slider-container">
          <input id="saturday-slider" class="availability-slider" style="width:100%"/>
        </div>
      </div>
    </div>
  </div>
  <div id="wednesday-sunday-time" class="row text-center">
    <div id="wednesday-time" class="col-md-6 time-availability vertical-center">
      <div class="col-md-3 text-right">Wednesday:</div>
      <div class="col-md-3 checkbox">
        <label>
          <%= check_box_tag "wednesday-checkbox" %>
          Unavailable
        </label>
      </div>
      <div class="col-md-6">
        <p>Times available:</p>
        <div class="slider-container">
          <input id="wednesday-slider" class="availability-slider" style="width:100%"/>
        </div>
      </div>
    </div>
    <div id="sunday-time" class="col-md-6 time-availability vertical-center">
      <div class="col-md-3 text-right">Sunday:</div>
      <div class="col-md-3 checkbox">
        <label>
          <%= check_box_tag "sunday-checkbox" %>
          Unavailable
        </label>
      </div>
      <div class="col-md-6">
        <p>Times available:</p>
        <div class="slider-container">
          <input id="sunday-slider" class="availability-slider" style="width:100%"/>
        </div>
      </div>
    </div>
  </div>

  <div id="thursday-only-time" class="row text-center">
    <div id="thursday-time" class="col-md-6 time-availability vertical-center">
      <div class="col-md-3 text-right">Thursday:</div>
      <div class="col-md-3 checkbox">
        <label>
          <%= check_box_tag "thursday-checkbox" %>
          Unavailable
        </label>
      </div>
      <div class="col-md-6">
        <p>Times available:</p>
        <div class="slider-container">
          <input id="thursday-slider" class="availability-slider" style="width:100%"/>
        </div>
      </div>
    </div>
  </div>

  <br />
  <h4>Cuisines I Like</h4>
  <div>
    <select multiple class="form-control" size="10" id="cuisine-select">
      <option value="1">American</option>
      <option value="2">Chinese</option>
      <option value="3">Mexican</option>
      <option value="4">Italian</option>
      <option value="5">Japanese</option>
      <option value="6">Greek</option>
      <option value="7">French</option>
      <option value="8">Thai</option>
      <option value="9">Spanish</option>
      <option value="10">Indian</option>
      <option value="11">Mediterranean</option>
      <option value="12">Korean</option>
      <option value="13">Vietnamese</option>
    </select>
  </div>
  <div class="text-center">
    <button type="button" class="btn hvr-outline-out match-button" id="match-button"> Match </button>
  </div>
  <div>
    <%= Match.all.inspect%>
  </div>
</div>