<div class="container">
	<div class="jumbotron" style="background-color: #252120;">
		<h1> Sorry, you currently don't have any matches!</h1>
		<h4> Check back soon! :) </h4>
	</div>
	<div>
		<% if @current_match.status == 'pending' %>
			Your request details:
		<% else %>
			Your next week's request details:
		<% end %>
		<br/>
		<p>Availability:</p>
		<%=
			if !@current_match.mondayStartTime.nil?
				monday = "Monday: #{@mondayStartTime} - #{@mondayEndTime}"
				content_tag(:div, monday, class:"col-sm-12")
			end
		%>
		<%=
			if !@current_match.tuesdayStartTime.nil?
				tuesday = "Tuesday: #{@tuesdayStartTime} - #{@tuesdayEndTime}"
				content_tag(:div, tuesday, class:"col-sm-12")
			end
		%>
		<%=
			if !@current_match.wednesdayStartTime.nil?
				wednesday = "Wednesday: #{@wednesdayStartTime} - #{@wednesdayEndTime}"
				content_tag(:div, wednesday, class:"col-sm-12")
			end
		%>
		<%=
			if !@current_match.thursdayStartTime.nil?
				thursday = "Thursday: #{@thursdayStartTime} - #{@thursdayEndTime}"
				content_tag(:div, thursday, class:"col-sm-12")
			end
		%>
		<%=
			if !@current_match.fridayStartTime.nil?
				friday = "Friday: #{@fridayStartTime} - #{@fridayEndTime}"
				content_tag(:div, friday, class:"col-sm-12")
			end
		%>
		<%=
			if !@current_match.saturdayStartTime.nil?
				saturday = "Saturday: #{@saturdayStartTime} - #{@saturdayEndTime}"
				content_tag(:div, saturday, class:"col-sm-12")
			end
		%>
		<%=
			if !@current_match.sundayStartTime.nil?
				sunday = "Sunday: #{@sundayStartTime} - #{@sundayEndTime}"
				content_tag(:div, sunday, class:"col-sm-12")
			end
		%>
		<br/>
		<p>Cuisines:</p>
		<% @cuisines_list.each do |cuisine| %>
				<%= cuisine %><br/>
		<% end %>
	</div>
	<div class="text-center" style="margin-bottom: 20px">
		<% if Time.now.wday == 0 %>
		<%= link_to('New Match', dashboard_path,
		class:"btn match-button hvr-outline-out", style: 'width: auto', title:"Make a new match for next week!",
		data: {toggle: 'tooltip', placement: 'left'})%>
		<%end%>
	</div>			
</div>