<div class="container">
	<% cache(cache_key_for_submission_row(@current_match)) do %>
	<div class="panel panel-default">
		<div class="panel-heading text-center pulsebg">
			<b id="yourMatch"> YOUR MATCH! </b>
			<img src="./images/default-profile.jpg" id="match-profile-logo" class="img-circle">
		</div>
		<div class="panel-body text-center">
			<ul class="list-group">
				<li class= list-group-item>
					<h3 class="list-group-item-heading"> <%= @other_user.name.upcase %> </h3> 
					<p class="list-group-item-text"> Phone: <%= @other_user.phone %> </p>
				</li>
				<li class="list-group-item">
					<h4 class="list-group-item-heading"> Availability </h4>
					<div class="row list-group-item-text">
						<%=
							if !@current_match.mondayStartTime.nil?
								monday = "Monday: #{@mondayStartTime} - #{@mondayEndTime}"
								content_tag(:div, monday, class:"list-group-item-day")
							end
						%>
						<%=
							if !@current_match.tuesdayStartTime.nil?
								tuesday = "Tuesday: #{@tuesdayStartTime} - #{@tuesdayEndTime}"
								content_tag(:div, tuesday, class:"list-group-item-day")
							end
						%>
						<%=
							if !@current_match.wednesdayStartTime.nil?
								wednesday = "Wednesday: #{@wednesdayStartTime} - #{@wednesdayEndTime}"
								content_tag(:div, wednesday, class:"list-group-item-day")
							end
						%>
						<%=
							if !@current_match.thursdayStartTime.nil?
								thursday = "Thursday: #{@thursdayStartTime} - #{@thursdayEndTime}"
								content_tag(:div, thursday, class:"list-group-item-day")
							end
						%>
						<%=
							if !@current_match.fridayStartTime.nil?
								friday = "Friday: #{@fridayStartTime} - #{@fridayEndTime}"
								content_tag(:div, friday, class:"list-group-item-day")
							end
						%>
						<%=
							if !@current_match.saturdayStartTime.nil?
								saturday = "Saturday: #{@saturdayStartTime} - #{@saturdayEndTime}"
								content_tag(:div, saturday, class:"list-group-item-day")
							end
						%>
						<%=
							if !@current_match.sundayStartTime.nil?
								sunday = "Sunday: #{@sundayStartTime} - #{@sundayEndTime}"
								content_tag(:div, sunday, class:"list-group-item-day")
							end
						%>
						<br/>
						<p class="list-group-item-heading">Cuisines:</p>
						<div class="cuisinesOuterDiv">
							<% @cuisines_list.each do |cuisine| %>
									<%= cuisine %><br/>
							<% end %>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="text-center" style="margin-bottom: 20px">
		<% if Time.now.wday == 0 %>
		<%= link_to('New Match', dashboard_path,
		class:"btn match-button hvr-outline-out", style: 'width: auto', title:"Make a new match for next week!",
		data: {toggle: 'tooltip', placement: 'left'})%>
		<%end%>
	</div>	
	<% end %>
</div>